<!-- Bottom Nav -->
<footer>
    <nav class="fixed-bottom navbar-dark bg-dark  text-center">
      <h6 class="navbar-text text-white mt-3">&copy; 2021 Fantastique4 | All Rights reserved.</h6>
    </nav>
  </footer>